<!DOCTYPE html>
<html>

<head>
    <title> AKECY - Atualizar Produtos </title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/JavaScript.js"></script>

</head>

<body>
    <header>

        <div id="principal">
            <div id="logoh">
                <a href="index - adm">
                    <img src="/img/logo.png"></a>
            </div>
            <input type="text" id="barra-pesquisa" placeholder="Pesquisar produtos cadastrados.">
            <div id="usuario-container">
                <a href="index - nologin">
                    <img src="/img/user_avatar.png">
                    <div id="nome-usuario">
                        <p> Olá, Roberto <br> Sair da conta </p>
                </a>
            </div>
        </div>
        </div>

        <div id="semi">
            <div id="categorias-container" class="linksemform">
                <p> <a href="cadastrar-produtos"> Cadastrar produtos </a> </p>
                <p> <a href="atualizar-produtos"> Atualizar produtos </a> </p>
            </div>
        </div>
    </header>

    <main>
        
    </main>

    <footer id="site-footer">
        <div id="footer-container">
            <div id="logofa">
                <a href="index - adm">
                    <img src="/img/logo.png"></a>
    </footer>

</body>

</html>