<!DOCTYPE html>
<html>

<head>
    <title> AKECY - Endereços </title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/JavaScript.js"></script>

</head>

<body class="noy">
    <header>

        <div id="principal">
            <div id="logoh">
                <a href="index">
                    <img src="/img/logo.png"></a>
            </div>
            <input type="text" id="barra-pesquisa" placeholder="O que você procura?">
            <div id="usuario-container">
                <a href="dados-pessoais">
                    <img src="/img/user_avatar.png">
                    <div id="nome-usuario">
                        <p> Olá, Alexandre <br> Minha conta </p>
                </a>
            </div>
        </div>
        <div id="carrinho">
            <a href="carrinhodecompras">
                <img src="/img/carrinho.png"></a>
        </div>
        </div>

        <div id="semi">
            <div id="categorias-container" class="linksemform">
                <p> <a href="categoria"> Masculino </a> </p>
                <p> <a href="categoria"> Feminino </a> </p>
                <p> <a href="categoria"> Infantil </a> </p>
                <p> <a href="categoria"> Acessórios </a> </p>
                <p> <a href="categoria"> Equipamentos </a> </p>
                <p> <a href="categoria"> Bolas </a> </p>
            </div>
        </div>
    </header>

    <main>

        <br>
        <div class="selecionado2"></div>

        <div class="buttconte">
            <a href="enderecos-novo">
                <button class="buttonmce"> Adicionar endereço </button>
            </a>
        </div>

        <h3 class="minhaconta"> Minha conta </h3> <br> <br> <br> <br> <br>
        <div class="centralizarconta">
            <div class="esqsec">
                <a href="dados-pessoais" class="linkg">
                    <p> Dados pessoais </p>
                </a>
                <a href="enderecos" class="linkb">
                    <p> Endereços </p>
                </a>
                <a href="cartoes" class="linkg">
                    <p> Cartões </p>
                </a>
                <a href="autenticacao" class="linkg">
                    <p> Autenticação </p>
                </a>
                <a href="meus-pedidos" class="linkg">
                    <p> Meus pedidos </p>
                </a>
                <a href="index - nologin" class="linkr">
                    <p> ← Sair da conta </p>
                </a>
            </div>

            <div class="txtcentr">
                <h3> Você não tem nenhum <br> endereço cadastrado. </h3>
            </div>

        </div> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    </main>

    <footer id="site-footer">
        <div id="footer-container">
            <div id="logof">
                <a href="index">
                    <img src="/img/logo.png"></a>
            </div>
            <p id="txtf"> <a href="faleconosco"> Fale conosco </a> </p>
        </div>
    </footer>

</body>

</html>