<!DOCTYPE html>
<html>

<head>
    <title> AKECY - Endereços </title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/JavaScript.js"></script>

</head>

<body class="noy">
    <header>

        <div id="principal">
            <div id="logoh">
                <a href="index">
                    <img src="/img/logo.png"></a>
            </div>
            <input type="text" id="barra-pesquisa" placeholder="O que você procura?">
            <div id="usuario-container">
                <a href="dados-pessoais">
                    <img src="/img/user_avatar.png">
                    <div id="nome-usuario">
                        <p> Olá, Alexandre <br> Minha conta </p>
                </a>
            </div>
        </div>
        <div id="carrinho">
            <a href="carrinhodecompras">
                <img src="/img/carrinho.png"></a>
        </div>
        </div>

        <div id="semi">
            <div id="categorias-container" class="linksemform">
                <p> <a href="categoria"> Masculino </a> </p>
                <p> <a href="categoria"> Feminino </a> </p>
                <p> <a href="categoria"> Infantil </a> </p>
                <p> <a href="categoria"> Acessórios </a> </p>
                <p> <a href="categoria"> Equipamentos </a> </p>
                <p> <a href="categoria"> Bolas </a> </p>
            </div>
        </div>
    </header>

    <main>
        <div class="voltara"> <a href="enderecos-adicionado" class="linko">
                <p> ← Voltar </p>
            </a> </div>

        <br>
        <div class="selecionado2"></div>
        <h3 class="minhaconta"> Minha conta </h3> <br> <br> <br> <br> <br>
        <div class="centralizarconta">
            <div class="esqsec">
                <a href="dados-pessoais" class="linkg">
                    <p> Dados pessoais </p>
                </a>
                <a href="enderecos" class="linkb">
                    <p> Endereços </p>
                </a>
                <a href="cartoes" class="linkg">
                    <p> Cartões </p>
                </a>
                <a href="autenticacao" class="linkg">
                    <p> Autenticação </p>
                </a>
                <a href="meus-pedidos" class="linkg">
                    <p> Meus pedidos </p>
                </a>
                <a href="index - nologin" class="linkr">
                    <p> ← Sair da conta </p>
                </a>
            </div>

            <div class="marginae">
                <label for="cep"> Digite seu CEP* </label> <br> <br>
                <input id="cep" type="text" class="menor3" placeholder="12345-678"> <a
                    href="https://buscacepinter.correios.com.br/app/endereco/index.php?t" target="_blank"
                    class="linkgc"> Não sei meu CEP </a> <br> <br> <br>

                <label for="endereco"> Endereço residencial* </label> <br> <br>
                <input id="endereco" type="text" placeholder="Rua das Flores"> <br> <br> <br>

                <label for="complemento"> Complemento </label> <br> <br>
                <input id="complemento" type="text" placeholder="A"> <br> <br> <br>

                <label for="cidade"> Cidade* </label> <br> <br>
                <input id="cidade" type="text" placeholder="Barueri"> <br> <br> <br> <br>
            </div>

            <div class="marginae2">
                <label for="numero"> Número* </label> <br> <br>
                <input id="numero" type="text" placeholder="48"> <br> <br> <br>

                <label for="bairro"> Bairro* </label> <br> <br>
                <input id="bairro" type="text" placeholder="Jardim Almeida"> <br> <br> <br>

                <label for="estado"> Estado </label> <br> <br>
                <input list="est" id="estado" placeholder="SP">
                <datalist id="est">
                    <option value="AC">
                    <option value="AL">
                    <option value="AP">
                    <option value="AM">
                    <option value="BA">
                    <option value="AM">
                    <option value="BA">
                    <option value="CE">
                    <option value="DF">
                    <option value="ES">
                    <option value="GO">
                    <option value="MA">
                    <option value="MT">
                    <option value="MS">
                    <option value="MG">
                    <option value="PA">
                    <option value="PB">
                    <option value="PR">
                    <option value="PE">
                    <option value="PI">
                    <option value="RJ">
                    <option value="RN">
                    <option value="RS">
                    <option value="RO">
                    <option value="RR">
                    <option value="SC">
                    <option value="SP">
                    <option value="SE">
                    <option value="TO">
                </datalist> <br> <br>

                <br> <br> <br> <br> <br> <br>
            </div>
            <div class="buttcontae">
                <a href="enderecos-editado">
                    <button class="buttonmcae"> Atualizar endereço </button>
                </a>
            </div>

        </div> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    </main>

    <footer id="site-footer">
        <div id="footer-container">
            <div id="logof">
                <a href="index">
                    <img src="/img/logo.png"></a>
            </div>
            <p id="txtf"> <a href="faleconosco"> Fale conosco </a> </p>
        </div>
    </footer>

</body>

</html>