<!DOCTYPE html>
<html>

<head>
    <title> AKECY </title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/JavaScript.js"></script>

</head>

<body>
    <header>

        <div id="principal">
            <div id="logoh">
                <a href="index">
                    <img src="/img/logo.png"></a>
            </div>
            <input type="text" id="barra-pesquisa" placeholder="O que você procura?">
            <div id="usuario-container">
                <a href="dados-pessoais">
                    <img src="/img/user_avatar.png">
                    <div id="nome-usuario">
                        <p> Olá, Alexandre <br> Minha conta </p>
                </a>
            </div>
        </div>
        <div id="carrinho">
            <a href="carrinhodecompras">
                <img src="/img/carrinho.png"></a>
        </div>
        </div>

        <div id="semi">
            <div id="categorias-container" class="linksemform">
                <p> <a href="categoria"> Masculino </a> </p>
                <p> <a href="categoria"> Feminino </a> </p>
                <p> <a href="categoria"> Infantil </a> </p>
                <p> <a href="categoria"> Acessórios </a> </p>
                <p> <a href="categoria"> Equipamentos </a> </p>
                <p> <a href="categoria"> Bolas </a> </p>
            </div>
        </div>
    </header>

    <main>
        <br> <br> <br> <a href="card1"> <img src="/img/card1.png" id="card"> </a> <br> <br> <br> <br> <br>
        <h2 class="titulos-destaques"> Produtos em destaque </h2>
        <div class="produtos">
            <div class="item">
                <a href="produto"> <img src="/img/dest1.png" class="itemimg"> </a>
                <p class="n1"> Camiseta Nike Heritg <br> Masculina </p>
                <p class="n2"> R$ 169,87 </p>
                <p class="n3"> ou 5x de R$ 33,97 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/dest2.png" class="itemimg"> </a>
                <p class="n1"> Tornozeleira de Peso A <br> Esportiva 2 KG </p>
                <p class="n2"> R$ 69,87 </p>
                <p class="n3"> ou 2x de R$ 34,93 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/dest3.png" class="itemimg"> </a>
                <p class="n1"> Tênis New Balance 1080 V12 <br> Feminino </p>
                <p class="n2"> R$ 999,87 </p>
                <p class="n3"> ou 10x de R$ 99,98 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/dest4.png" class="itemimg"> </a>
                <p class="n1"> Bola Futsal Penalty RX 500 <br> XXIII </p>
                <p class="n2"> R$ 104,88 </p>
                <p class="n3"> ou 3x de R$ 34,96 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/dest5.png" class="itemimg"> </a>
                <p class="n1"> Camisa Puma Palmeiras | 2022 <br> Masculina </p>
                <p class="n2"> R$ 199,87 </p>
                <p class="n3"> ou 6x de R$ 33,31 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/dest6.png" class="itemimg"> </a>
                <p class="n1"> Mochila de Trilha NH100 <br> 10 Litros </p>
                <p class="n2"> R$ 37,98 </p>
                <p class="n3"> ou 5x de R$ 18,99 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/dest7.png" class="itemimg"> </a>
                <p class="n1"> Toalha de natação de microfibra </p>
                <p class="n2"> R$ 44,98 </p>
                <p class="n3"> ou 2x de R$ 22,49 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/dest8.png" class="itemimg"> </a>
                <p class="n1"> Touca de natação em malha nabaiji </p>
                <p class="n2"> R$ 17,98 </p>
                <p class="n3"> ou 2x de R$ 8,99 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/dest9.png" class="itemimg"> </a>
                <p class="n1"> Kit 5 Camisetas Novastreet Dry <br> Fit Anti Suor </p>
                <p class="n2"> R$ 99,96 </p>
                <p class="n3"> ou 3x de R$ 33,32 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/dest10.png" class="itemimg"> </a>
                <p class="n1"> Óculos de Natação - XBase </p>
                <p class="n2"> R$ 26,98 </p>
                <p class="n3"> ou 5x de R$ 13,49 </p>
            </div>
        </div>

        <br> <a href="card2"> <img src="/img/card2.png" id="card"> </a>

        <h2 class="titulos-destaques"> Produtos recentes </h2>
        <div class="produtos">
            <div class="item">
                <a href="produto"> <img src="/img/rece1.png" class="itemimg"> </a>
                <p class="n1"> Tênis Nike Revolution 6 <br> Masculino </p>
                <p class="n2"> R$ 259,99 </p>
                <p class="n3"> ou 6x de R$ 43,33 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/rece2.png" class="itemimg"> </a>
                <p class="n1"> Camiseta Under Armour Speed <br> Stride Masculina </p>
                <p class="n2"> R$ 159,87 </p>
                <p class="n3"> ou 5x de R$ 31,97 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/rece3.png" class="itemimg"> </a>
                <p class="n1"> Tênis Fila Tracer Masculino </p>
                <p class="n2"> R$ 339,87 </p>
                <p class="n3"> ou 10x de R$ 99,98 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="rece4.png" class="itemimg"> </a>
                <p class="n1"> Short Adidas Essentials Logo <br> Masculino </p>
                <p class="n2"> R$ 229,87 </p>
                <p class="n3"> ou 12x de R$ 28,32 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/rece5.png" class="itemimg"> </a>
                <p class="n1"> Calça Moleton Cinza Masculino </p>
                <p class="n2"> R$ 159,99 </p>
                <p class="n3"> ou 8x de R$ 19,99 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/rece6.png" class="itemimg"> </a>
                <p class="n1"> Tênis Adidas Streetcheck <br> Masculino </p>
                <p class="n2"> R$ 279,99 </p>
                <p class="n3"> ou 12x de R$ 23,33 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/rece7.png" class="itemimg"> </a>
                <p class="n1"> Tênis Fila KRS Masculino </p>
                <p class="n2"> R$ 499,87 </p>
                <p class="n3"> ou 12x de R$ 41,65 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/rece8.png" class="itemimg"> </a>
                <p class="n1"> Tênis Fila Tracer Masculino </p>
                <p class="n2"> R$ 339,87 </p>
                <p class="n3"> ou 12x de R$ 28,32 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/rece9.png" class="itemimg"> </a>
                <p class="n1"> Tênis Asics Evoride Masculino </p>
                <p class="n2"> R$ 699,87 </p>
                <p class="n3"> ou 12x de R$ 58,32 </p>
            </div>
            <div class="item">
                <a href="produto"> <img src="/img/rece10.png" class="itemimg"> </a>
                <p class="n1"> Short Mizuno Focus <br> Masculino </p>
                <p class="n2"> R$ 239,87 </p>
                <p class="n3"> ou 12x de R$ 19,98 </p>
            </div>
        </div> <br>

    </main>

    <footer id="site-footer">
        <div id="footer-container">
            <div id="logof">
                <a href="index">
                    <img src="/img/logo.png"></a>
            </div>
            <p id="txtf"> <a href="faleconosco"> Fale conosco </a> </p>
        </div>
    </footer>

</body>

</html>