<!DOCTYPE html>
<html>

<head>
    <title> AKECY - Meus Pedidos </title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/JavaScript.js"></script>

</head>

<body>
    <header>

        <div id="principal">
            <div id="logoh">
                <a href="index">
                    <img src="/img/logo.png"></a>
            </div>
            <input type="text" id="barra-pesquisa" placeholder="O que você procura?">
            <div id="usuario-container">
                <a href="dados-pessoais">
                    <img src="/img/user_avatar.png">
                    <div id="nome-usuario">
                        <p> Olá, Alexandre <br> Minha conta </p>
                </a>
            </div>
        </div>
        <div id="carrinho">
            <a href="carrinhodecompras">
                <img src="/img/carrinho.png"></a>
        </div>
        </div>

        <div id="semi">
            <div id="categorias-container" class="linksemform">
                <p> <a href="categoria"> Masculino </a> </p>
                <p> <a href="categoria"> Feminino </a> </p>
                <p> <a href="categoria"> Infantil </a> </p>
                <p> <a href="categoria"> Acessórios </a> </p>
                <p> <a href="categoria"> Equipamentos </a> </p>
                <p> <a href="categoria"> Bolas </a> </p>
            </div>
        </div>
    </header>

    <main>

        <div class="centrmpp">
            <div class="linhamp">
                <div class="esqimgmp">
                    <img src="/img/meusp.png" style="width: 181px; height: auto;">
                </div>
                <div class="esqtxt">
                    <div class="esqtxtmp">
                        <p> CAMISETA NIKE HERITG <br> MASCULINA </p>
                        <p> <b> R$ 169,87 </b> </p>
                        <p class="mpo"> Pagamento realizado </p>
                    </div>
                </div>
                <div class="detmp">
                    <a href="ver-detalhes" class="linko"> Ver detalhes </a>
                </div>
            </div>

            <div class="linhamp">
                <div class="esqimgmp">
                    <img src="/img/meusp2.png" style="width: 181px; height: auto;">
                </div>
                <div class="esqtxt">
                    <div class="esqtxtmp">
                        <p> BOLA FUTSAL PENALTY <br> RX 500 XXIII </p>
                        <p> <b> R$ 104,88 </b> </p>
                        <p class="mpo"> Em transporte </p>
                    </div>
                </div>
                <div class="detmp">
                    <a href="#" class="linko"> Ver detalhes </a>
                </div>
            </div>

            <div class="linhamp">
                <div class="esqimgmp">
                    <img src="/img/meusp3.png" style="width: 181px; height: auto;">
                </div>
                <div class="esqtxt">
                    <div class="esqtxtmp">
                        <p> CAMISA PUMA PALMEIRAS <br> | 2022 MASCULINA </p>
                        <p> <b> R$ 199,87 </b> </p>
                        <p class="mpo"> Entregue </p>
                    </div>
                </div>
                <div class="detmp">
                    <a href="#" class="linko"> Ver detalhes </a>
                </div>
            </div>

    </main>

    <footer id="site-footer">
        <div id="footer-container">
            <div id="logof">
                <a href="index">
                    <img src="/img/logo.png"></a>
            </div>
            <p id="txtf"> <a href="faleconosco"> Fale conosco </a> </p>
        </div>
    </footer>

</body>

</html>