<!DOCTYPE html>
<html>

<head>
    <title> AKECY - Ver detalhes </title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/JavaScript.js"></script>

</head>

<body class="noy">
    <header>

        <div id="principal">
            <div id="logoh">
                <a href="index">
                    <img src="/img/logo.png"></a>
            </div>
            <input type="text" id="barra-pesquisa" placeholder="O que você procura?">
            <div id="usuario-container">
                <a href="dados-pessoais">
                    <img src="/img/user_avatar.png">
                    <div id="nome-usuario">
                        <p> Olá, Alexandre <br> Minha conta </p>
                </a>
            </div>
        </div>
        <div id="carrinho">
            <a href="carrinhodecompras">
                <img src="/img/carrinho.png"></a>
        </div>
        </div>

        <div id="semi">
            <div id="categorias-container" class="linksemform">
                <p> <a href="categoria"> Masculino </a> </p>
                <p> <a href="categoria"> Feminino </a> </p>
                <p> <a href="categoria"> Infantil </a> </p>
                <p> <a href="categoria"> Acessórios </a> </p>
                <p> <a href="categoria"> Equipamentos </a> </p>
                <p> <a href="categoria"> Bolas </a> </p>
            </div>
        </div>
    </header>

    <main>
        <div class="voltard"> <a href="meus-pedidos" class="linko">
                <p> ← Voltar </p>
            </a> </div>
        <img class="imgvd" src="/img/meusp.png">

        <h1 id="txtvd"> Camiseta Nike Herigt <br> Masculina</h1>

        <div class="vd1">
            <div class="vd11">
                <p> <b> Endereço de entrega </b> </p>
                <p> Rua das Flores 48, A <br> Jardim Almeida - Barueri - SP <br> 12345-678 <br> Brasil</p>
            </div>
        </div>

        <div class="vd2">
            <div class="vd11">
                <p> <b> Total pago </b> </p>
                <p> produtoㅤㅤR$ 169,87 <br> freteㅤㅤㅤ R$ㅤ15,00 <br> totalㅤ ㅤㅤ<b>R$ 184,84 </b> </p>
            </div>
        </div>

        <img  id="status" src="/img/status.png">
    </main>

    <p class="txtvd1"> pedido <br> recebido </p>
    <p class="txtvd2"> pagamento <br> aprovado </p>
    <p class="txtvd3"> nota fiscal <br> disponível </p>
    <p class="txtvd4"> em transporte </p>
    <p class="txtvd5"> pedido <br> entregue </p>


    <footer id="site-footer">
        <div id="footer-container">
            <div id="logof">
                <a href="index">
                    <img src="/img/logo.png"></a>
            </div>
            <p id="txtf"> <a href="faleconosco"> Fale conosco </a> </p>
        </div>
    </footer>

</body>

</html>