body {
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:active {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

.linka:link {
    color: #0086D0;
    text-decoration: none;
}

.linka:active {
    color: #0086D0;
    text-decoration: none;
}

.linka:visited {
    color: #0086D0;
    text-decoration: none;
}

.linkb:link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.linkb:active {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.linkb:visited {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.linkg:link {
    color: #000000;
    text-decoration: none;
    font-weight: lighter;
}

.linkg:active {
    color: #000000;
    text-decoration: none;
    font-weight: lighter;
}

.linkg:visited {
    color: #000000;
    text-decoration: none;
    font-weight: lighter;
}

.linkgc:link {
    color: #000000;
    font-weight: lighter;
    text-decoration: underline;
    margin-left: 10px;
    font-size: 15px;
}

.linkgc:active {
    color: #000000;
    font-weight: lighter;
    text-decoration: underline;
}

.linkgc:visited {
    color: #313131;
    font-weight: lighter;
    text-decoration: underline;
}

.linko:link {
    color: #FFA600;
    text-decoration: none;
    font-weight: lighter;
}

.linko:active {
    color: #FFA600;
    text-decoration: none;
    font-weight: lighter;
}

.linko:visited {
    color: #FFA600;
    text-decoration: none;
    font-weight: lighter;
}

.linkr:link {
    color: #e22e2e;
    text-decoration: none;
    font-weight: lighter;
}

.linkr:active {
    color: #e22e2e;
    text-decoration: none;
    font-weight: lighter;
}

.linkr:visited {
    color: #e22e2e;
    text-decoration: none;
    font-weight: lighter;
}

label {
    font-size: 30px;
    font-weight: lighter;
}

input {
    padding: 12px 20px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 16px;
    width: 300px;
    border-color: #00126B;
}

textarea {
    padding: 12px 20px;
    border-radius: 5px;
    border-width: 1px;
    font-size: 15px;
    width: 500px;
    border-color: #00126B;
    font-family: sans-serif;
}

#principal {
    width: 1872px;
    height: 80px;
    background-color: #ff9900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0;
}

#barra-pesquisa {
    flex-grow: 1;
    padding: 10px;
    margin: 0 400px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    margin-left: 19em;
}

#usuario-container {
    display: flex;
    align-items: center;
}

#nome-usuario {
    font-size: 16px;
    color: #FFF;
    font-weight: 250;
}

#semi {
    width: 1872px;
    height: 2px;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    margin: 0;
    color: #FFF;
    font-size: 20px;
    justify-content: center;
}

#categorias-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

#site-footer {
    background-color: #4a4a4a;
    ;
    padding: 35px 0 35px;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
}

#card {
    width: 95%;
    height: 95%;
    margin: auto;
    display: block;
    border-radius: 10px;
}

#footer-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 20;
}

#logof {
    margin-left: 34%;
}

#txtf {
    font-size: 25px;
    font-weight: 300;
}

#centralizarform {
    text-align: left;
}

#formulario {
    text-align: center;
}

.dir {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    margin-right: 33vh;
}

.voldest {
    width: 50%;
    height: 100%;
    position: absolute;
}

.imgdest {
    position: absolute;
    margin-top: 10px;
    height: 10%;
}

.produtos {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    overflow-x: scroll;
}

.item {
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.itemimg {
    width: 270px;
    height: 270px;
}

.titulos-destaques {
    color: #666666;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

.n1 {
    text-transform: uppercase;
    font-size: 14px;
}

.n2 {
    font-weight: bold;
    font-size: 23px;
    line-height: 0.5px;
}

.n3 {
    font-weight: lighter;
    font-size: 16px;
    line-height: 0.5px;
}

.txt1l {
    color: #707070;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}

.txt2l {
    color: #707070;
    font-size: 30px;
    font-weight: 200;
    text-align: left;
}

.txt3l {
    color: #707070;
    font-size: 17px;
    font-weight: 200;
    text-align: left;
}

.buttonl {
    background-color: #FFA600;
    border-color: #c98200;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 190px;
    font-size: 25px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.buttone {
    background-color: #FFA600;
    border-color: #c98200;
    border-radius: 10px;
    color: white;
    padding: 5px;
    width: auto;
    font-size: 17px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonform {
    background-color: #FFA600;
    border-color: #c98200;
    border-radius: 10px;
    color: white;
    padding: 5px;
    width: 110px;
    font-size: 17px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonforml {
    background-color: #FFA600;
    border-color: #c98200;
    border-radius: 10px;
    color: white;
    padding: 5px;
    width: 110px;
    font-size: 17px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonmcdp {
    background-color: #FFA600;
    border-color: #c98200;
    border-radius: 10px;
    color: white;
    padding: 5px;
    width: 130px;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonmce {
    background-color: #FFA600;
    border-color: #c98200;
    border-radius: 10px;
    color: white;
    padding: 5px;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonmcc {
    background-color: #FFA600;
    border-color: #c98200;
    border-radius: 10px;
    color: white;
    padding: 5px;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonmca {
    background-color: #FFA600;
    border-color: #c98200;
    border-radius: 10px;
    color: white;
    padding: 5px;
    width: 180px;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonmcae {
    background-color: #FFA600;
    border-color: #c98200;
    border-radius: 10px;
    color: white;
    padding: 5px;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.buttonmcac {
    background-color: #FFA600;
    border-color: #c98200;
    border-radius: 10px;
    color: white;
    padding: 5px;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

.centralizar {
    text-align: center;
}

.outrsl {
    font-size: 15px;
}

.menor {
    width: 120px;
}

.menor2 {
    width: 90px;
}

.menor3 {
    width: 120px;
    height: 10px;
}

.menorl {
    font-size: 22px;
}

.centralizarconta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
}

.minhaconta {
    text-align: center;
    margin-right: 44%;
    font-size: 27px;
}

.esqsec {
    font-size: 20px;
    line-height: 35px;
}

.selecionado1 {
    width: 9px;
    height: 55px;
    background-color: #FFA600;
    margin-left: 450px;
    margin-top: 167px;
    position: absolute;
}

.selecionado2 {
    width: 9px;
    height: 55px;
    background-color: #FFA600;
    margin-left: 450px;
    margin-top: 218px;
    position: absolute;
}

.selecionado3 {
    width: 9px;
    height: 55px;
    background-color: #FFA600;
    margin-left: 450px;
    margin-top: 270px;
    position: absolute;
}

.selecionado4 {
    width: 9px;
    height: 55px;
    background-color: #FFA600;
    margin-left: 450px;
    margin-top: 328px;
    position: absolute;
}

.buttcontdad {
    position: absolute;
    margin-left: 43%;
    margin-top: 28%;
}

.buttconte {
    position: absolute;
    margin-left: 65%;
    margin-top: 3%;
}

.buttcontae {
    position: absolute;
    margin-left: 39.30%;
    margin-top: 29%;
}

.buttcontac {
    position: absolute;
    margin-left: 63%;
    margin-top: -1%;
}

.noy {
    overflow-y: hidden;
}

.txtcentr {
    color: #666666;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    margin-left: 20%;
}

.senhaq {
    border-color: #ABAAA7;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    width: 646px;
    height: 152px;
    margin-left: 39%;
    margin-top: 9%;
    font-size: 20px;
}

.senhad {
    margin-left: 3%;
}

.senhar {
    border-color: #ABAAA7;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    width: 646px;
    height: 350px;
    margin-left: 39%;
    margin-top: 9%;
    font-size: 20px;
}

.senhad2 {
    margin-left: 3%;
    margin-top: 3%;
}

.linha {
    border-color: #ABAAA7;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    width: 361px;
    height: 174px;
    margin-left: 15%;
    margin-top: -8%;
    font-size: 20px;
}

.centr {
    margin-left: 3%;
    font-size: 15px;
}

.linkdire {
    margin-right: 5%;
    margin-top: -9%;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
}

.linkdirr {
    margin-right: 28%;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
}

.voltara {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3%;
    margin-left: 39%;
}

.voltaraform {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -2.5%;
    margin-left: 33%;
}

.marginae {
    position: absolute;
    margin-top: 3%;
    margin-left: 12%;
}

.marginae2 {
    position: absolute;
    margin-top: 12.2%;
    margin-left: 32%;
}

.cvv {
    position: absolute;
    margin-top: 12.2%;
    margin-left: 29.18%;
}

.txtc {
    position: absolute;
    margin-left: 39%;
    margin-top: 5.5%;
    font-size: 20px;
    font-weight: 400;
}

.cart {
    margin-top: -8.5px;
}

#centralizarform {
    display: flex;
    align-items: center;
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 3%;
}

.voltarjava {
    color: #FFA600;
    text-decoration: none;
    font-weight: lighter;
}

.linhamp {
    border-color: #ABAAA7;
    border-width: 2px;
    border-style: solid;
    width: 920px;
    height: 235px;
    font-size: 20px;
}

.esqimgmp {
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
}

.esqimgmp2 {
    position: absolute;
    margin-left: 15px;
    margin-top: 25px;
}

.esqimgmp3 {
    position: absolute;
    margin-left: 15px;
    margin-top: 30px;
}


.centrmpp {
    display: grid;
    grid-gap: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 25.5%;
}

.mpo {
    color: #FFA600;
}

.esqtxtmp {
    font-size: 19px;
    position: absolute;
    margin-left: 11%;
    margin-top: 0.5%;
}

.detmp {
    text-align: right;
    margin-top: 20%;
    margin-right: 5%;
}